___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">DA & DVwPY</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">The Exploratory Data Analysis (EDA) Project</p>

<img src=https://i.ibb.co/wJW61Y2/Used-cars.jpg width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">AutoScout Car Price Prediction EDA</p>

## Introduction
Welcome to "***AutoScout Exploratory Data Analysis (EDA) Project***". This is the project of completing ***Data Analysis & Data Visualization*** Courses and a successful hand-over is mandatory for getting certification for both courses. **Auto Scout** data used in this project scraped from the Website of an online car trading company in 2022, and contains many features of 13 different car makes including 594 models. In this project, you will have the opportunity to apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using a variety of Python libraries, such as Numpy, Pandas, Matplotlib, Seaborn, Scipy, and then you will get a clean dataset for your analysis and pretictive modelling in Machine Learning Path. So you will have the chance to use all the skills you have already learned in the Data Analysis and Visualization courses.

**``In this context, the project consists of 3 parts in general:``**
* **The first part** is related to ``'Data Cleaning'``. It deals with Incorrect Headers, Incorrect Format, Anomalies, and Dropping useless columns.
* **The second part** is related to ``'Filling Data'``, in other words 'Imputation'. It deals with Missing Values. Categorical to numeric transformation, Encoding, is done as well.
* **The third part** is related to ``'Handling Outliers of Data'`` via Visualization libraries. So, some insights will be extracted.

**``SPECIAL NOTE:``**  However, you are ``free to create your own style``. You do ``NOT`` have to stick to the steps above. Nevertheless, we, the DA & DV instructors, recommend you study each part separately to create a source notebook for your further studies. 

In order to build your Portfolio in terms of the GitHub account, you need to push your solution file up to your own repository.

Please after solving the task, commit your notebook to GitHub and submit its link to LMS page where the project is settled down.

**BE NOTED:** Please ``DO NOT FORGET`` to click the submit button.

### Some Reminders on Exploratory data analysis (EDA)

Exploratory data analysis (EDA) is an especially important activity in the routine of a data analyst or scientist. It enables an in depth understanding of the dataset, define or discard hypotheses and create predictive models on a solid basis. It uses data manipulation techniques and several statistical tools to describe and understand the relationship between variables and how these can impact business. By means of EDA, we can obtain meaningful insights that can impact analysis under the following questions (If a checklist is good enough for pilots to use every flight, it’s good enough for data scientists to use with every dataset).
1. What question are you trying to solve (or prove wrong)?
2. What kind of data do you have?
3. What’s missing from the data?
4. Where are the outliers?
5. How can you add, change or remove features to get more out of your data?

**``Exploratory data analysis (EDA)``** is often an **iterative brainstorming process** where you pose a question, review the data, and develop further questions to investigate before beginning model development work. The image below shows how the brainstorming phase is connected with that of understanding the variables and how this in turn is connected again with the brainstorming phase.<br>

<img src=https://i.ibb.co/k0MC950/EDA-Process.png width="300" height="100">

[Image Credit: Andrew D.](https://towardsdatascience.com/exploratory-data-analysis-in-python-a-step-by-step-process-d0dfa6bf94ee)

# PART- 1 `( Data Cleaning )`

In [ ]:
#pip install skimpy --user

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
#from skimpy import clean_columns

import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

%matplotlib inline
# %matplotlib notebook

plt.rcParams["figure.figsize"] = (10,6)
# plt.rcParams['figure.dpi'] = 100

sns.set_style("whitegrid")
pd.set_option('display.float_format', lambda x: '%.2f' % x)

pd.options.display.max_rows = 100
pd.options.display.max_columns = 100

In [3]:
df = pd.read_csv("df_car_cleaned.csv")

In [4]:
df.head(5)

,Unnamed: 0,make_model,location,price,body_type,doors,country_version,warranty,mileage,gearbox,fuel_type,colour,paint,seller,seats,power,engine_size,gears,co₂_emissions,manufacturer_colour,drivetrain,cylinders,fuel_consumption,comfort_convenience,entertainment_media,safety_security,extras,empty_weight,general_inspection,full_service_history,non_smoker_vehicle,emission_class,emissions_sticker,upholstery_colour,upholstery,production_date,previous_owner,energy_efficiency_class,age
0,0,Mercedes-Benz A 160,ES,16950.00,Compact,5.00,Spain,24.00,120200.00,Manual,Diesel,Black,Metallic,Dealer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.00
1,1,Mercedes-Benz EQE 350,ES,80900.00,Compact,4.00,Spain,24.00,5000.00,Automatic,Electric,NaN,NaN,Dealer,5.00,215.00,1.00,9.00,0.00,Negro Obsidiana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
2,2,Mercedes-Benz A 45 AMG,ES,69900.00,Compact,5.00,Spain,12.00,18900.00,Automatic,Benzine,Grey,NaN,Dealer,5.00,310.00,1991.00,8.00,NaN,Mountaingrau magno,4WD,4.00,8.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.00
3,3,Mercedes-Benz A 35 AMG,ES,46990.00,Compact,5.00,Spain,12.00,18995.00,Automatic,Benzine,Yellow,NaN,Dealer,5.00,225.00,1991.00,7.00,NaN,Amarillo Sol,4WD,4.00,7.30,"Air conditioning, Automatic climate control, P...",USB,"ABS, Central door lock, Driver-side airbag, El...",Sport seats,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.00
4,4,Mercedes-Benz A 45 AMG,ES,16800.00,Compact,5.00,Spain,12.00,197000.00,Automatic,Diesel,White,Metallic,Dealer,5.00,100.00,2143.00,7.00,NaN,NaN,4WD,4.00,4.90,"Air conditioning, Electrical side mirrors, Mul...","Bluetooth, CD player, MP3, USB","ABS, Central door lock, Driver-side airbag, El...",NaN,1545.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.00

In [5]:
df.sample().T

                                                                     19477
Unnamed: 0                                                           19477
make_model                                                   Nissan Pulsar
location                                                                ES
price                                                             12617.00
body_type                                                          Compact
doors                                                                 5.00
country_version                                                      Spain
warranty                                                             12.00
mileage                                                          112709.00
gearbox                                                             Manual
fuel_type                                                           Diesel
colour                                                               Black
paint                                                                  NaN
seller                                                              Dealer
seats                                                                 5.00
power                                                                81.00
engine_size                                                        1461.00
gears                                                                 6.00
co₂_emissions                                                          NaN
manufacturer_colour                                                  Negro
drivetrain                                                           Front
cylinders                                                             4.00
fuel_consumption                                                      3.60
comfort_convenience      Air conditioning, Automatic climate control, C...
entertainment_media                                   Bluetooth, CD player
safety_security          ABS, Central door lock, Fog lights, Immobilize...
extras                                                        Alloy wheels
empty_weight                                                       1306.00
general_inspection                                                     NaN
full_service_history                                                   NaN
non_smoker_vehicle                                                     NaN
emission_class                                                         NaN
emissions_sticker                                                      NaN
upholstery_colour                                                      NaN
upholstery                                                             NaN
production_date                                                        NaN
previous_owner                                                         NaN
energy_efficiency_class                                                NaN
age                                                                   7.00

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29480 entries, 0 to 29479
Data columns (total 39 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               29480 non-null  int64
 1   make_model               28630 non-null  object
 2   location                 28630 non-null  object
 3   price                    28630 non-null  float64
 4   body_type                28630 non-null  object
 5   doors                    28271 non-null  float64
 6   country_version          16889 non-null  object
 7   warranty                 13465 non-null  float64
 8   mileage                  28629 non-null  float64
 9   gearbox                  28382 non-null  object
 10  fuel_type                26843 non-null  object
 11  colour                   26906 non-null  object
 12  paint                    14495 non-null  object
 13  seller                   28630 non-null  object
 14  seats                    25505 non-null  float64
 15  power                    28058 non-null  float64
 16  engine_size              27227 non-null  float64
 17  gears                    18954 non-null  float64
 18  co₂_emissions            18594 non-null  float64
 19  manufacturer_colour      21787 non-null  object
 20  drivetrain               16893 non-null  object
 21  cylinders                18852 non-null  float64
 22  fuel_consumption         23347 non-null  float64
 23  comfort_convenience      25433 non-null  object
 24  entertainment_media      23644 non-null  object
 25  safety_security          25415 non-null  object
 26  extras                   23480 non-null  object
 27  empty_weight             17758 non-null  float64
 28  general_inspection       12254 non-null  object
 29  full_service_history     12565 non-null  object
 30  non_smoker_vehicle       11594 non-null  object
 31  emission_class           17859 non-null  object
 32  emissions_sticker        9414 non-null   object
 33  upholstery_colour        14569 non-null  object
 34  upholstery               18610 non-null  object
 35  production_date          5908 non-null   float64
 36  previous_owner           14015 non-null  float64
 37  energy_efficiency_class  7804 non-null   object
 38  age                      28628 non-null  float64
dtypes: float64(15), int64(1), object(23)
memory usage: 8.8+ MB

In [7]:
df.describe()

,Unnamed: 0,price,doors,warranty,mileage,seats,power,engine_size,gears,co₂_emissions,cylinders,fuel_consumption,empty_weight,production_date,previous_owner,age
count,29480.00,28630.00,28271.00,13465.00,28629.00,25505.00,28058.00,27227.00,18954.00,18594.00,18852.00,23347.00,17758.00,5908.00,14015.00,28628.00
mean,14739.50,23555.20,4.15,17.74,72627.04,4.69,119.68,1755.00,5.88,132.50,4.08,5.70,1421.41,2018.00,1.43,6.84
std,8510.29,25953.71,1.21,14.44,67628.44,0.82,68.38,1029.86,1.48,58.21,1.00,2.84,335.60,6.49,0.86,8.76
min,0.00,490.00,1.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,75.00,1954.00,1.00,-180.00
25%,7369.75,11990.00,3.00,12.00,20290.00,4.00,80.00,1332.00,5.00,107.00,4.00,4.40,1206.00,2018.00,1.00,2.00
50%,14739.50,17980.00,5.00,12.00,57500.00,5.00,100.00,1598.00,6.00,127.00,4.00,5.30,1387.00,2019.00,1.00,4.00
75%,22109.25,27990.00,5.00,12.00,106673.00,5.00,138.00,1984.00,6.00,159.00,4.00,6.70,1598.00,2021.00,2.00,8.00
max,29479.00,1346900.00,6.00,99.00,1440000.00,17.00,924.00,99900.00,10.00,940.00,26.00,99.90,15590.00,2022.00,14.00,122.00

In [ ]:
#df.describe(include=[object])

In [8]:
df.columns

Index(['Unnamed: 0', 'make_model', 'location', 'price', 'body_type', 'doors',
       'country_version', 'warranty', 'mileage', 'gearbox', 'fuel_type',
       'colour', 'paint', 'seller', 'seats', 'power', 'engine_size', 'gears',
       'co₂_emissions', 'manufacturer_colour', 'drivetrain', 'cylinders',
       'fuel_consumption', 'comfort_convenience', 'entertainment_media',
       'safety_security', 'extras', 'empty_weight', 'general_inspection',
       'full_service_history', 'non_smoker_vehicle', 'emission_class',
       'emissions_sticker', 'upholstery_colour', 'upholstery',
       'production_date', 'previous_owner', 'energy_efficiency_class', 'age'],
      dtype='object')

In [9]:
df.isnull().sum()

Unnamed: 0                     0
make_model                   850
location                     850
price                        850
body_type                    850
doors                       1209
country_version            12591
warranty                   16015
mileage                      851
gearbox                     1098
fuel_type                   2637
colour                      2574
paint                      14985
seller                       850
seats                       3975
power                       1422
engine_size                 2253
gears                      10526
co₂_emissions              10886
manufacturer_colour         7693
drivetrain                 12587
cylinders                  10628
fuel_consumption            6133
comfort_convenience         4047
entertainment_media         5836
safety_security             4065
extras                      6000
empty_weight               11722
general_inspection         17226
full_service_history       16915
non_smoker_vehicle         17886
emission_class             11621
emissions_sticker          20066
upholstery_colour          14911
upholstery                 10870
production_date            23572
previous_owner             15465
energy_efficiency_class    21676
age                          852
dtype: int64

In [10]:
is_null = pd.DataFrame(df.isnull().sum(), columns = ['isnull'])
is_null

                         isnull
Unnamed: 0                    0
make_model                  850
location                    850
price                       850
body_type                   850
doors                      1209
country_version           12591
warranty                  16015
mileage                     851
gearbox                    1098
fuel_type                  2637
colour                     2574
paint                     14985
seller                      850
seats                      3975
power                      1422
engine_size                2253
gears                     10526
co₂_emissions             10886
manufacturer_colour        7693
drivetrain                12587
cylinders                 10628
fuel_consumption           6133
comfort_convenience        4047
entertainment_media        5836
safety_security            4065
extras                     6000
empty_weight              11722
general_inspection        17226
full_service_history      16915
non_smoker_vehicle        17886
emission_class            11621
emissions_sticker         20066
upholstery_colour         14911
upholstery                10870
production_date           23572
previous_owner            15465
energy_efficiency_class   21676
age                         852

In [12]:
percentage_null = pd.DataFrame(df.isnull().sum()/df.shape[0]*100, columns = ['percentage_null'])
percentage_null

                         percentage_null
Unnamed: 0                          0.00
make_model                          2.88
location                            2.88
price                               2.88
body_type                           2.88
doors                               4.10
country_version                    42.71
warranty                           54.32
mileage                             2.89
gearbox                             3.72
fuel_type                           8.95
colour                              8.73
paint                              50.83
seller                              2.88
seats                              13.48
power                               4.82
engine_size                         7.64
gears                              35.71
co₂_emissions                      36.93
manufacturer_colour                26.10
drivetrain                         42.70
cylinders                          36.05
fuel_consumption                   20.80
comfort_convenience                13.73
entertainment_media                19.80
safety_security                    13.79
extras                             20.35
empty_weight                       39.76
general_inspection                 58.43
full_service_history               57.38
non_smoker_vehicle                 60.67
emission_class                     39.42
emissions_sticker                  68.07
upholstery_colour                  50.58
upholstery                         36.87
production_date                    79.96
previous_owner                     52.46
energy_efficiency_class            73.53
age                                 2.89

In [13]:
summary_null = pd.concat([is_null, percentage_null], axis = 1).reset_index().rename({'index':'Columns'},axis = 1)
summary_null

                    Columns  isnull  percentage_null
0                Unnamed: 0       0             0.00
1                make_model     850             2.88
2                  location     850             2.88
3                     price     850             2.88
4                 body_type     850             2.88
5                     doors    1209             4.10
6           country_version   12591            42.71
7                  warranty   16015            54.32
8                   mileage     851             2.89
9                   gearbox    1098             3.72
10                fuel_type    2637             8.95
11                   colour    2574             8.73
12                    paint   14985            50.83
13                   seller     850             2.88
14                    seats    3975            13.48
15                    power    1422             4.82
16              engine_size    2253             7.64
17                    gears   10526            35.71
18            co₂_emissions   10886            36.93
19      manufacturer_colour    7693            26.10
20               drivetrain   12587            42.70
21                cylinders   10628            36.05
22         fuel_consumption    6133            20.80
23      comfort_convenience    4047            13.73
24      entertainment_media    5836            19.80
25          safety_security    4065            13.79
26                   extras    6000            20.35
27             empty_weight   11722            39.76
28       general_inspection   17226            58.43
29     full_service_history   16915            57.38
30       non_smoker_vehicle   17886            60.67
31           emission_class   11621            39.42
32        emissions_sticker   20066            68.07
33        upholstery_colour   14911            50.58
34               upholstery   10870            36.87
35          production_date   23572            79.96
36           previous_owner   15465            52.46
37  energy_efficiency_class   21676            73.53
38                      age     852             2.89

In [14]:
missing = df.isnull().sum()*100 / df.shape[0]

In [15]:
missing.loc[lambda x : x >= 70] #%70

production_date           79.96
energy_efficiency_class   73.53
dtype: float64

In [16]:
miss_val = []

[miss_val.append(column) for column in df.columns if any(df[column].isnull())]

print("Columns that have missing values :")

miss_val

Columns that have missing values :

['make_model',
 'location',
 'price',
 'body_type',
 'doors',
 'country_version',
 'warranty',
 'mileage',
 'gearbox',
 'fuel_type',
 'colour',
 'paint',
 'seller',
 'seats',
 'power',
 'engine_size',
 'gears',
 'co₂_emissions',
 'manufacturer_colour',
 'drivetrain',
 'cylinders',
 'fuel_consumption',
 'comfort_convenience',
 'entertainment_media',
 'safety_security',
 'extras',
 'empty_weight',
 'general_inspection',
 'full_service_history',
 'non_smoker_vehicle',
 'emission_class',
 'emissions_sticker',
 'upholstery_colour',
 'upholstery',
 'production_date',
 'previous_owner',
 'energy_efficiency_class',
 'age']

In [18]:
df.make_model.info()

<class 'pandas.core.series.Series'>
RangeIndex: 29480 entries, 0 to 29479
Series name: make_model
Non-Null Count  Dtype
--------------  -----
28630 non-null  object
dtypes: object(1)
memory usage: 230.4+ KB

In [19]:
def first_looking(col):
    print("column name    : ", col)
    print("--------------------------------")
    print("per_of_nulls   : ", "%", round(df[col].isnull().sum()*100 / df.shape[0], 2))
    print("num_of_nulls   : ", df[col].isnull().sum())
    print("num_of_uniques : ", df[col].nunique())
    print("--------------------------------")
    print(df[col].value_counts(dropna = False))

In [20]:
first_looking("age")

column name    :  age
--------------------------------
per_of_nulls   :  % 2.89
num_of_nulls   :  852
num_of_uniques :  83
--------------------------------
3.00       3667
4.00       3492
0.00       3086
1.00       2870
2.00       2473
5.00       2426
6.00       1486
7.00       1237
8.00        936
NaN         852
9.00        703
10.00       655
11.00       642
12.00       559
15.00       492
14.00       441
13.00       424
16.00       395
17.00       287
18.00       247
19.00       211
21.00       191
20.00       187
22.00       160
23.00       144
24.00        91
25.00        81
28.00        80
27.00        78
26.00        71
31.00        62
30.00        60
29.00        55
32.00        54
56.00        41
55.00        34
34.00        33
57.00        32
49.00        29
50.00        29
54.00        27
35.00        26
44.00        23
36.00        22
33.00        20
52.00        19
37.00        18
51.00        18
43.00        17
53.00        17
39.00        16
47.00        14
45.00        13
40.00        11
58.00        11
46.00        11
38.00        10
48.00         9
59.00         9
41.00         9
60.00         8
61.00         7
67.00         6
42.00         6
68.00         4
65.00         4
64.00         4
62.00         4
90.00         3
122.00        2
85.00         2
63.00         2
70.00         2
92.00         2
69.00         2
89.00         1
-3.00         1
76.00         1
-1.00         1
93.00         1
66.00         1
-180.00       1
94.00         1
72.00         1
Name: age, dtype: int64

In [ ]:
def groupby_mode2(group_col1, group_col2, fill_col):
    for group1 in list(df_car[group_col1].unique()):
        cond1 = (df_car[group_col1]==group1)
        
        for group2 in list(df_car[group_col2].unique()):
            cond2 = (df_car[group_col2]==group2)
            cond = (cond1 & cond2)
            
            mode2 = list(df_car[cond][fill_col].mode())
            
            if mode2 != []:
                df_car.loc[cond,fill_col] = df_car.loc[cond,fill_col].fillna(mode2[0])
            elif list(df_car[cond1][fill_col].mode()) != []:
                df_car.loc[cond,fill_col] = df_car.loc[cond,fill_col].fillna(df_car[cond1][fill_col].mode()[0])
            else:
                df_car.loc[cond,fill_col] = df_car.loc[cond,fill_col].fillna(df_car[fill_col].mode()[0])


def fill_most(df, group_col, col_name):
    '''Fills the missing values with the most existing value (mode) in the relevant column according to single-stage grouping'''
    for group in list(df[group_col].unique()):
        cond = df[group_col]==group
        mode = list(df[cond][col_name].mode())
        if mode != []:
            df.loc[cond, col_name] = df.loc[cond, col_name].fillna(df[cond][col_name].mode()[0])
        else:
            df.loc[cond, col_name] = df.loc[cond, col_name].fillna(df[col_name].mode()[0])
    print("Number of NaN : ",df[col_name].isnull().sum())
    print("------------------")
    print(df[col_name].value_counts(dropna=False))

# PART- 2 `( Handling With Missing Vales )`

# PART- 3 `( Handling With Outliers )`

# Final Step (Checking final situation of data via graphs)

## Export dataframe to csv file (without dummy)

In [ ]:
df.to_csv("final_scout_not_dummy.csv", index=False)

# Dummy Operation

## Export dataframe to csv file (dummy)

In [ ]:
df_dummied.to_csv("final_scout_dummy.csv", index=False)